################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DZ_01/DZ_01/obj
/DZ_01/.vs
